.mypets-content{
    text-align: center;
    --padding-bottom: 16px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 16px;
    --background: rgba(237, 237, 237);
    .list-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .pet-wrapper{
            position: relative;
            display: flex;
            width: 90%;
            justify-content: center;
            align-items: center;
            margin: 15px;
            .image-container{
                position: absolute;
                width: 120px;
                height: 130px;
                background-color: #ddd;
                left: 0;
                border-radius: 5px;
                z-index: 1;
                .image-res{
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                    filter: drop-shadow(1px 2px 2px #00000026);
                }
            }
            .info{
                width: 100%;
                background: #ffffff;
                height: 110px;
                filter: drop-shadow(1px 2px 2px #00000026);
                display: grid;
                grid-template-columns: 40% 60%;
                border-radius: 5px;
                .info-r{
                    align-self: center;
                    margin: 5px;
                    height: 100%;
                    .title{
                        font-weight: 800;
                        font-size: 20px;
                        padding: 10px 0;
                    }
                }
            }
        }
        
    }
    .pet-p{
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 65px;
        margin: 10px;
        margin-top: 15px;
        align-items: center;
        font-size: 0.8rem;
        .p{
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            background: #A22E82;
            border-radius: 5px;
            filter: drop-shadow(1px 1px 3px #00000026);
            margin: 2px;
            padding: 5px;
            span{
                display: block;
                margin-bottom: 10px;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}