<ion-header>
  <ion-toolbar>
    <ion-title>outgoing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="request-container" *ngFor="let req of myOutgoings">
      <h4>{{req.petName}}</h4>
      <div class="info">
        <span class="sender">Owner Id: {{req.ownerId}}</span>
        <span class="status" [ngStyle]="{'color': req.status == 'Accepted'?'green': 'rgb(255, 87, 34)'}">Status: {{req.status}}</span>
      </div>
      <div *ngIf="req.status === 'Pending' || req.status === 'Rejected'" class="c-b">
        <a (click)="cancelRequest(req.id, req.ownerId)" >X</a>
      </div>
      
  </div>
</ion-content>


