.toolbar-holder{
    --background: #00C9BB;
    color: #ffffff;
    
    ion-title{
        font-size: 1rem !important;
    }
    ion-buttons{
        font-size: 1rem; 
        padding: 0 10px;
    }
}
.profile-content{
    .profile-container{
        .avatar-container{
            width: 120px;
            height: 120px;
            margin: 40px auto;
            .user-image{
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
                box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.48);
            }
        }
    }
    .tab-selected{
        color: red;
    }
}